@tailwind base;
@tailwind components;
@tailwind utilities;

.formScreen {
  height: 100%;
  width: 100%;
  background-color: #f8fafc;
}

.formDiv {
    background-color: #f8fafc;
    border: 1.5px solid #e4e8ee;
    width: 18rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 0.5rem;
}

.a {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputPForm {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0.375rem;
    border: 1px solid #e4e8ee;
    background-color: #f8fafc;
    padding: 0 0.75rem;
    text-align: left;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    color: #64748b;
}

.inputPForm:hover {
    border: 1px solid #94a3b8;
    --tw-ring-color: #94a3b8;
}
